body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

:root {
  --black: #222831;
  --gray: #31363f;
  --blue: #0f3665;
  --white: #eeeeee;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.ttf");
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black);
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'JetBrains Mono', sans-serif;
}

.paddle {
  width: 10px;
  height: 80px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
}

#leftPaddle {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#rightPaddle {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

#score {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#joystick {
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.start-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  top: 50%;
  font-family: 'JetBrains Mono', sans-serif;
  left: 50%;
  padding: 32px;
  border-radius: 16px;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  z-index: 1000;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

#backtomenu, #pauseButton {
  right: 0;
  width: 50px;
  aspect-ratio: 1;
  padding: 8px;
  color: white;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  z-index: 1100;
  top: 0;
  margin: 16px;
}

#backtomenu::before {
  content: "←";
  font-size: 16px;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 32px;
} 

.buttons button {
  width: 100px;
  height: 40px;
  color: white;
  font-family: 'JetBrains Mono', sans-serif;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  transition: 100ms ease-in-out;
}

.buttons button:hover {
  scale: 1.05;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

#cover {
  position: absolute;
  z-index: 900;
  width: 100dvw;
  height: 100dvh;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
} 

.game-over-menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  .paddle {
    width: 10px;
    height: 80px; /* Adjust the height of paddles for mobile */
  }

  #leftPaddle,
  #rightPaddle {
    width: 10px; /* Ensure both paddles are visible on mobile */
  }

  #leftPaddle {
    margin-left: 5px;
  }

  #rightPaddle {
    margin-right: 5px;
  }

  #score {
    color: white;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  #joystick {
    position: absolute;
    display: block;
    margin-bottom: 10dvh;
  }

  #joystick::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent var(--white) transparent;
  }

  #joystick::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: var(--white) transparent transparent transparent;
  }
}
