* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #222831;
  --gray: #31363f;
  --blue: #0f3665;
  --white: #eeeeee;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-Regular.ttf");
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--black);
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-family: "JetBrains Mono", sans-serif;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black);
}

header {
  position: fixed;
  margin-top: 32px;
  z-index: 100;
  max-width: 75vw;
  width: 100%;
  height: 50px;
  background-color: rgba(238, 238, 238, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
  border: 1px solid rgba(238, 238, 238, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

header section#left {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header section#left img {
  width: 40px;
  aspect-ratio: 1;
}

header section#right {
  width: 80%;
  display: flex;
  align-items: center;
}

header section#right nav {
  width: 100%;
}

header section#right nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

header section#right nav ul li {
  padding: 16px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}

header section#right nav ul li p {
  margin-left: 8px;
}

header section#right nav ul a {
  flex: 1;
  color: var(--white);
  text-decoration: none;
  transition: scale 100ms ease-in-out, border 100ms ease-in-out;
}

header section#right nav ul a:hover {
  scale: 1.25;
  background-color: var(--gray);
  border-radius: 8px;
  z-index: 100;
  border: 1px solid rgba(238, 238, 238, 0.2);
}

.page {
  position: absolute;
  width: 100svw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-container {
  max-width: 50vw;
  max-height: 50vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.glass-container .weather {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.glass-container .stats {
  width: 100%;
  aspect-ratio: 1;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 16px 16px; 
  grid-template-areas: 
    ". ."
    ". ."; 
  width: 300px; 
  height: 300px; 
}

.glass-container .stats * {
  border-radius: 16px;
  max-height: 150px;
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border: 1px solid rgba(238, 238, 238, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(238, 238, 238, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.glass-container .stats .real::before {
  content: "Feels like";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 0;
}

.glass-container .stats .precipitation::before {
  content: "Precipitaion";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 0;
}

.glass-container .stats .humidity::before {
  content: "Humidity";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 0;
}

.glass-container .stats .windspeed::before {
  content: "Wind Speed";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 0;
}


/* .glass-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: var(--white);
  text-align: center;
} */

