* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #222831;
  --gray: #31363f;
  --teal: #76abae;
  --white: #eeeeee;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./fonts/JetBrainsMono-Regular.ttf");
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--black);
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-family: "JetBrains Mono", sans-serif;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black);
}

header {
  position: fixed;
  margin-top: 32px;
  z-index: 100;
  width: 60vw;
  height: 50px;
  background-color: rgba(238, 238, 238, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
  border: 1px solid rgba(238, 238, 238, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

header section#left {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header section#left img {
  width: 40px;
  aspect-ratio: 1;
}

header section#right {
  width: 80%;
  display: flex;
  align-items: center;
}

header section#right nav {
  width: 100%;
}

header section#right nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

header section#right nav ul li {
  padding: 16px;
  width: 100px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}

header section#right nav ul li p {
  margin-left: 8px;
}

header section#right nav ul a {
  height: max-content;
  width: max-content;
  color: var(--white);
  text-decoration: none;
  transition: scale 100ms ease-in-out, border 100ms ease-in-out;
}

header section#right nav ul a:hover {
  scale: 1.25;
  background-color: var(--gray);
  border-radius: 8px;
  z-index: 100;
  border: 1px solid rgba(238, 238, 238, 0.2);
}

.page {
  position: absolute;
  width: 100svw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-container {
  width: 500px;
  height: 500px;
  background-color: rgba(238, 238, 238, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(238, 238, 238, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.glass-container p {
  display: block;
  padding: 8px;
  border-radius: 16px;
  background-color: var(--teal);
  color: var(--white);
  text-align: center;
  margin-top: 16px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Add the following properties to stack the bubbles vertically */
  margin-top: 8px;
  top: 5vh;
  bottom: 0;
  width: 50%;
}
