* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #222831;
  --gray: #31363f;
  --blue: #0f3665;
  --white: #eeeeee;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-Regular.ttf");
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--black);
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  font-family: "JetBrains Mono", sans-serif;
  background-color: var(--black);
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black);
}

header {
  position: fixed;
  margin-top: 32px;
  z-index: 100;
  max-width: 75vw;
  width: 100%;
  height: 50px;
  background-color: rgba(238, 238, 238, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
  border: 1px solid rgba(238, 238, 238, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  top: -50vh;
  transition: top 0.3s ease-in-out; /* Smooth transition */
}


header .icon {
  display: none;
}

header .icon svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

header section#left {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header section#left img {
  width: 40px;
  aspect-ratio: 1;
}

header section#right {
  width: 80%;
  display: flex;
  align-items: center;
}

header section#right nav {
  width: 100%;
}

header section#right nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

header section#right nav ul li {
  padding: 16px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header section#right nav ul li p {
  margin-left: 8px;
}

header section#right nav ul a {
  flex: 1;
  color: var(--white);
  text-decoration: none;
  transition: scale 100ms ease-in-out, border 100ms ease-in-out;
}

header section#right nav ul a:hover {
  scale: 1.25;
  background-color: var(--gray);
  border-radius: 8px;
  z-index: 100;
  border: 1px solid rgba(238, 238, 238, 0.2);
}

.page {
  position: absolute;
  width: 100svw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 64px;
  align-items: center;
}

.container .weather {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  color: var(--white);
}

.container .weather h2 {
  font-size: clamp(1rem, 5vw, 5rem);
}

.container .weather p {
  font-size: clamp(1rem, 2.5vw, 2.5rem);
}

.container .weather .divider {
  display: none;
}

.container .stats {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  grid-template-areas:
    ". . . ."
    ". . . .";
}

.container .stats *:not(.winddirection-degrees):not(.compass-hand) {
  border-radius: 16px;
  height: 100%;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
  max-height: 500px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border: 1px solid rgba(238, 238, 238, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(238, 238, 238, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);;
}

.container .stats p {
  font-size: clamp(1rem, 2vw, 2rem);
}

.container .stats *::before {
  font-size: 1rem;
}

.container .stats .real::before {
  content: "Feels like";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 0;
}

.container .stats .precipitation::before {
  content: "Precipitaion";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 0;
}

.container .stats .humidity::before {
  content: "Humidity";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 0;
}

.container .stats .windspeed::before {
  content: "Wind Speed";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 0;
}

.container .stats .winddirection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container .stats .winddirection-degrees {
  height: 112.5px;
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .stats .winddirection::before {
  content: "Wind Direction";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 0;
}

.container .stats .winddirection .compass-hand {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  transform-origin: center center;
}

.container .stats .winddirection .compass-hand:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid rgba(255, 0, 0, 0.8);
  border-radius: 10px;
  left: 50%;
  margin-bottom: 90px;
  transform: translateX(-50%);
}

.container .stats .winddirection .compass-hand:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  left: 50%;
  margin-top: 90px;
  transform: translateX(-50%);
}

.container .stats .cloudcoverage::before {
  content: "Cloud Coverage";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 0;
}

.container .stats .visibility::before {
  content: "Visibility";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 0;
}

.container .stats .uvindex::before {
  content: "UV Index";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 0;
}

@media (max-width: 768px) {
  header {
    top: 0;
    font-size: 0.75rem;
  }

  header .text {
    display: none;
  }

  header .icon {
    display: block;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    margin-top: 250px;
  }

  .container .weather {
    flex-direction: row;
  }

  .container .weather .divider {
    display: block;
  }

  .container .stats {
    grid-template:
        ". ." 1fr
        ". ." 1fr / 1fr 1fr;
    margin-right: 0;
  }

  .container .stats *:not(.winddirection-degrees):not(.compass-hand) {
    min-width: 150px;
    min-height: 150px;
  }

  .container .stats .winddirection .compass-hand:after {
    margin-top: 90px;
  }

  .container .stats .winddirection .compass-hand:before {
    margin-bottom: 90px;
  }

  .container .stats .winddirection-degrees {
    height: 90px;
  }
}